<div class="container mt-5">
  <h1 class="text-center">Public Relations</h1>

  <div class="row mt-5">
    <div class="col-md-6">
      <p>Public Relations (PR) is a strategic communication discipline focused on building and maintaining positive relationships between an organization and its various publics, including customers, employees, stakeholders, and the wider community. PR professionals use various tactics and tools, such as media relations, crisis management, and content creation, to build and enhance the reputation and brand of the organization.</p>

      <p>Media relations is one of the key components of PR, and involves working with journalists, bloggers, and other media professionals to communicate the organization's message to a wider audience. This can include organizing press events, issuing press releases, and developing relationships with key journalists.</p>

      <p>Crisis management is another important aspect of PR, and involves planning for and responding to unexpected events that could potentially harm the organization's reputation. This may include natural disasters, product recalls, or negative media coverage, among other things.</p>
    </div>

    <div class="col-md-6">
      <%= image_tag("pr1.jpeg", alt: "Public Relations", class: "img-fluid") %>
      <%= image_tag("pr1.jpeg", alt: "Media Relations", class: "img-fluid mt-3") %>
      <%= image_tag("pr2.jpeg", alt: "Crisis Management", class: "img-fluid mt-3") %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h3>Key Performance Indicators (KPIs)</h3>
      <p>Key Performance Indicators (KPIs) can help measure the success of PR campaigns and activities, such as media coverage, website traffic, and engagement rates. Examples of PR KPIs include:</p>
      <ul>
        <li>Media Impressions: The number of times a media message has been seen or heard by an audience.</li>
        <li>Media Coverage: The number of times an organization has been mentioned in the media.</li>
        <li>Website Traffic: The number of visitors to the organization's website, which can be a measure of the impact of PR efforts on online engagement.</li>
        <li>Engagement Rates: The number of people who interact with a brand's content, such as likes, comments, and shares on social media.</li>
      </ul>
    </div>

    <div class="col-md-6">
      <%= image_tag("PR4.jpg", alt: "Key Performance Indicators", class: "img-fluid") %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <h3>Content Creation</h3>
      <p>Content creation is an important part of PR, and involves developing engaging and relevant content that helps build relationships with target audiences. This can include writing press releases, creating videos, developing infographics, and more. Effective content creation requires a deep understanding of target audiences and the messages that
