<!-- app/views/chats/new.html.erb -->
<h1 class="text-center mb-5">New Chat</h1>

<div class="row">
  <% users = User.all %>
  <% users.each do |user| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">
            <% if user.profile_image.url %>
              <%= image_tag(user.profile_image.url(:thumb))%>
            <% end %>
            <%= user.first_name %></h5>
          <%= link_to "Start Chat", chat_rooms_path(user_two_id: user.id), method: :post, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
