// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-left {
    float: left;
    clear: both;
    margin-right: 10px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
  }
  
  .message-right {
    float: right;
    clear: both;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  #msg-form-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;

  }
  
  #msg-form-container form {
    width: 100%;
    box-sizing: border-box;
  }
.send-right{
    float: right;
    clear: both;
    margin-left: 10px;
    background-color: #33ff00;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
}
.chat-pad{
    margin-bottom: 100px;
}
#msgs {
    height: 780px;
    overflow-y: scroll;
  }
  
