.heading{
    font-size: xxx-large !important;
    font-style: italic;
    font-weight:500;
  }
  .navall{
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: large;
  }
  .nav_border{
    border-bottom-style: double;
    border-radius: 5px;
    border: 2px solid #4CAF50;
  }
  .pad{
    padding-left: 50%;
  }
  