.heading{
    font-size: xxx-large !important;
    font-style: italic;
    font-weight:500;
  }

  .nav_border{
    border-bottom-style: double;
    border-radius: 5px;
    border: 2px solid #4CAF50;
  }
  .pad{
    margin-left: 10px;
    margin-right: 10px;
  }
  .text{
    font-size: 20px !important;
    font-weight: bold;
  }
  .auth{
    flex: none !important;
  }
