// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.media-container {
    display: flex;
    align-items: center;
}

.post-image, .post-video {
    max-width: 500px;
    max-height: 500px;
}
.post-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px !important;

  }
  
  .post-user-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .post {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .post-images {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .post-image {
    width: 300px;
    height: 300px;
    margin: 0 10px;
  }
  
  .post-body {
    font-size: 16px;
    margin-bottom: 30px;
  }
  