// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.media-container {
    display: flex;
    align-items: center;
}

.post-image, .post-video {
    max-width: 500px;
    max-height: 500px;
}
